<main class="liangbo-image">
  <section class="main-wrapper">
    <div>
      <span>I</span>
      <span>'</span>
      <span>M</span>
    </div>
    <div>
      <span>Liangbo</span>
    </div>
    <div>
      <span>Jin</span>
      <span>.</span>
    </div>
  </section>

  <section class="second-wrapper">
    <span>University Graduate</span>
    <span>Web Developer</span>
  </section>

  <div class="main-button">
    <button>Download Resume</button>
  </div>
</main>

<article class="article-main">
  <h1 class="first-h1" id="professional">Professional</h1>
  <h2 class="first-h2">MY  PROGRAMMING  SKILL  LEVEL</h2>
  <section class="profession-flex">
    <div class="skill1"></div>
    <div class="skill2"></div>
    <div class="skill3"></div>
    <div class="skill4"></div>
    <div class="skill5"></div>
    <div class="skill6"></div>
    <div class="skill7"></div>
  </section>
  <h2 class="second-h2">MY SOFT SKILL LEVEL </h2>
  <section class="profession-flex">
    <div class="soft-skill1"></div>
    <div class="soft-skill2"></div>
    <div class="soft-skill3"></div>
    <div class="soft-skill4"></div>
    <div class="soft-skill5"></div>
    <div class="soft-skill6"></div>
    <div class="soft-skill7"></div>
  </section>
</article>
