<main class="liangbo-image">
  <section class="main-wrapper">
    <div>
      <span>I</span>
      <span>'</span>
      <span>M</span>
    </div>
    <div>
      <span>Liangbo</span>
    </div>
    <div>
      <span>Jin</span>
      <span>.</span>
    </div>
  </section>

  <section class="second-wrapper">
    <span>University Graduate</span>
    <span>Web Developer</span>
  </section>

  <div class="main-button">
    <button>Download Resume</button>
  </div>
</main>

<article class="article-main">
  <h1 class="first-h1">Professional</h1>
</article>
