<section class="title-wrapper">
  <h1>My Projects</h1>
</section>
<section class="project-background">
  <article class="project-wrapper">
    <div>
      <img src="/images/unit_budget_planner.png" alt="Unit Budget Planner overview">
    </div>
    <div>
      <h2 class="description-h2">Unit Budget Planner</h2>
      <p>Hello everyone,asdasd,qwdqwd,qwdqwd,sadas,dasd,</p>
      <p class="my-role">My role is to design and implement SQL database</p>
      <p class="used-technology">Used Technologies: React / SQL / </p>
      <p class="github-icon">Github Link: <a href="https://github.com/WentworthJin/Unit_Budget_Planner" target="_blank">Unit Budget Planner</a></p>
    </div>
  </article>
  <hr>
  <article class="project-wrapper">
    <div>
      <h2 class="description-h2">Unit Budget Planner</h2>
      <p>Hello everyone,asdasd,qwdqwd,qwdqwd,sadas,dasd,</p>
      <p class="my-role">My role is to design and implement SQL database</p>
      <p class="used-technology">Used Technologies: React / SQL / </p>
      <p class="github-icon">Github Link: <a href="https://github.com/WentworthJin/Unit_Budget_Planner" target="_blank">Unit Budget Planner</a></p>
    </div>
    <div>
      <img src="/images/unit_budget_planner.png" alt="Unit Budget Planner overview">
    </div>
  </article>
  <hr>
  <article class="project-wrapper">
    <div>
      <img src="/images/unit_budget_planner.png" alt="Unit Budget Planner overview">
    </div>
    <div>
      <h2 class="description-h2">Unit Budget Planner</h2>
      <p>Hello everyone,asdasd,qwdqwd,qwdqwd,sadas,dasd,</p>
      <p class="my-role">My role is to design and implement SQL database</p>
      <p class="used-technology">Used Technologies: React / SQL / </p>
      <p class="github-icon">Github Link: <a href="https://github.com/WentworthJin/Unit_Budget_Planner" target="_blank">Unit Budget Planner</a></p>
    </div>
  </article>
</section>
