<header class="header-wrapper">
  <ul class="ul-flex-container" id="home">
    <li>
      <a href="#home">Home</a>
    </li>
    <li>
      <a href="#professional">Professional</a>
    </li>
    <li>
      <a href="/">Education</a>
    </li>
    <li>
      <a href="/">Projects</a>
    </li>
    <li>
      <a href="#contact">Contact Me</a>
    </li>
  </ul>
</header>