<header class="header-wrapper">
  <ul class="ul-flex-container" id="home">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/#professional">Professional</a>
    </li>
    <li>
      <a href="/#education">Education</a>
    </li>
    <li>
      <a href="/project">Projects</a>
    </li>
    <li>
      <a href="/#contact">Contact Me</a>
    </li>
  </ul>
</header>