<header class="header-wrapper">
  <ul class="ul-flex-container">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/">Professional</a>
    </li>
    <li>
      <a href="/">Education</a>
    </li>
    <li>
      <a href="/">Projects</a>
    </li>
    <li>
      <a href="/">Contact Me</a>
    </li>
  </ul>
</header>