:root{
  --main-font-family: "Barlow Condensed", sans-serif;
  --main-color: rgb(0, 0, 0);
}

.footer-text{
  font-family: var(--main-font-family);
  text-align: center;
  color: var(--main-color);
  font-weight: bold;
  padding: 0.5rem;
}